<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device=width, user-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Cadastrar novo estudante</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<h1 style="text-align: center">Cadastrar Estudante</h1>
<form action="/add" class="container" method="post">
    <div class="row">
        <div class="col-md-6">
            <input type="text" name="nome" id="nome" class="form-control">
        </div>
        <div class="col-md-6">
            <input type="text" name="idade" id="idade" class="form-control">
        </div>
    </div>
    <br>
    <div class="row col-xs-12">
        <button type="submit" class="btn btn-block btnj-sucess">Enviar</button>
    </div>
</form>

</body>
</html>